{% extends 'base.html.twig' %}

{% block title %}Univ - Paramétre - Département{% endblock %}


{% block body %}
<div class="main-content">
    <section class="section">
        <div class="section-header">
          <h1>Synchronisation</h1>
          <div class="section-header-breadcrumb">
              {# <a href="#" class="btn btn-success ml-1" id="modifier"><i class="fas fa-edit"></i>  Modifier</a>
              <a href="#" class="btn btn-success ml-1" id="ajouter"><i class="fas fa-plus"></i>  Aouter</a> #}
              {# <a href="#" class="btn btn-success ml-1" id="ajouter"><i class="fas fa-plus"></i>  Aouter</a> #}
              {# {% for operation in operations %}
                <a href="{{operation.link}}" class="{{operation.classTag}}" id="{{operation.idTag}}"><i class="{{operation.icon}}"></i>  {{operation.designation}}</a>
              {% endfor %} #}
          </div>
        </div>

        <div class="section-body">
			<div class="card">
				<div class="card-body">
				
					<style>
						.checked-icon {
							color: green;
						}

						.unchecked-icon {
							color: red;
						}

						h3.smaller {
							font-size: 21px
						}

						.lighter {
							font-weight: lighter
						}

						.blue {
							color: #478FCA !important
						}

						.header.blue {
							border-bottom-color: #d5e3ef
						}

						.header {
							/* line-height: 28px;
							margin-bottom: 16px;
							margin-top: 18px; */
							padding-bottom: 4px;
							border-bottom: 1px solid #CCC
						}

						.dd-dragel>li>.dd2-handle,
						.dd2-handle {
							left: 0;
							top: 0;
							width: 36px;
							margin: 0 !important;
							text-align: center;
							padding: 0 !important;
							line-height: 38px;
							height: 38px;
							background: #EBEDF2;
							border: 1px solid #DEE4EA;
							cursor: pointer;
							overflow: hidden;
							position: absolute;
							z-index: 1
						}

						.dd-handle,
						.dd2-content {
							display: block;
							min-height: 38px;
							margin: 0;
							padding: 8px 12px;
							background: #F8FAFF;
							border: 1px solid #DAE2EA;
							color: #7C9EB2;
							text-decoration: none;
							font-weight: 700;
							box-sizing: border-box
						}

						.dd-empty,
						.dd-handle,
						.dd-placeholder,
						.dd2-content {
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box
						}

						.bigger-130 {
							font-size: 130% !important
						}

						.grey {
							color: #777 !important
						}

						.ace-icon {
							text-align: center
						}

						.dd,
						.dd-list {
							display: block;
							padding: 0;
							list-style: none
						}

						.dd,
						.dd-item>button,
						.dd-list {
							position: relative
						}

						@media only screen and(max-width:767px) and(-webkit-min-device-pixel-ratio:0) {
							.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center>.ui-pg-table {
								width: 300px
							}
						}

						.dd {
							margin: 0;
							max-width: 600px;
							line-height: 20px
						}

						.dd-list {
							margin: 0
						}

						.dd-list .dd-list {
							padding-left: 30px
						}


						.dd2-handle+.dd2-content,
						.dd2-handle+.dd2-content[class*=btn-] {
							padding-left: 44px
						}


						.dd-empty,
						.dd-item,
						.dd-placeholder {
							display: block;
							position: relative;
							margin: 2px 0;
							padding: 0;
							min-height: 20px;
							line-height: 20px
						}

						.dd-handle:hover,
						.dd2-content:hover {
							color: #438EB9;
							background: #F4F6F7;
							border-color: #DCE2E8
						}

						.dd-handle[class*=btn-],
						.dd2-content[class*=btn-] {
							color: #FFF;
							border: none;
							padding: 9px 12px
						}

						.dd-handle[class*=btn-]:hover,
						.dd2-content[class*=btn-]:hover {
							opacity: .85;
							color: #FFF
						}

						.row_ {
							display: inline-block;
							color: #FFF !important;
							text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
							background-image: none !important;
							/* border: 5px solid #FFF; */
							border-radius: 0;
							box-shadow: none !important;
							-webkit-transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
							-o-transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
							transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
							vertical-align: middle;
							margin: 0;
							position: relative;
							background-color: #ABBAC3 !important;
							border-color: #ABBAC3;
						}
					</style>
					<div class="row">
						<div class="col-md-6">
						<div class="col-md-12">
							<a class="btn btn-primary synchnisation_academique">
								<i class="ace-icon fa fa-refresh align-top bigger-125"></i>
								Sychronisation-Informations Académique (Étape - 1)
							</a>
						</div>
						<br />
						<h3 class="header smaller lighter blue">Informations Académique</h3>
						<div class="col-md-12">
							<div class="dd dd-draghandle">
								<ol class="dd-list">
									<li class="dd-item dd2-item">
										<div class="dd-handle dd2-handle">
											<i class="syn_ac_etablissement normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
										</div>
										<div class="dd2-content">
											Etablissement
											<span class="syn_ac_etablissement_content"></span>
										</div>
									</li>

									<li class="dd-item dd2-item">
										<div class="dd-handle dd2-handle">
											<i class="syn_ac_formation normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
										</div>
										<div class="dd2-content">
											Formation
											<span class="syn_ac_formation_content"></span>
										</div>
									</li>
									
									<li class="dd-item dd2-item">
										<div class="dd-handle dd2-handle">
											<i class="syn_ac_annee normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
										</div>
										<div class="dd2-content">
											Année
											<span class="syn_ac_annee_content"></span>
										</div>
									</li>

									<li class="dd-item dd2-item">
										<div class="dd-handle dd2-handle">
											<i class="syn_ac_promotion normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
										</div>
										<div class="dd2-content">
											Promotion
											<span class="syn_ac_promotion_content"></span>
										</div>
									</li>
									
									<li class="dd-item dd2-item">
										<div class="dd-handle dd2-handle">
											<i class="syn_ac_semestre normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
										</div>
										<div class="dd2-content">
											Semestre
											<span class="syn_ac_semestre_content"></span>
										</div>
									</li>

									<li class="dd-item dd2-item">
										<div class="dd-handle dd2-handle">
											<i class="syn_organisme normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
										</div>
										<div class="dd2-content">
											Organisme
											<span class="syn_organisme_content"></span>
										</div>
									</li>

									<li class="dd-item dd2-item">
										<div class="dd-handle dd2-handle">
											<i class="syn_banque normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
										</div>
										<div class="dd2-content">
											Banque
											<span class="syn_banque_content"></span>
										</div>
									</li>

									<li class="dd-item dd2-item">
										<div class="dd-handle dd2-handle">
											<i class="syn_modalite normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
										</div>
										<div class="dd2-content">
											Modalité
											<span class="syn_modalite_content"></span>
										</div>
									</li>

									<li class="dd-item dd2-item">
										<div class="dd-handle dd2-handle">
											<i class="syn_naturedemande normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
										</div>
										<div class="dd2-content">
											Nature Demande
											<span class="syn_naturedemande_content"></span>
										</div>
									</li>
								</ol>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						
						<div class="col-md-12">

							<div class="row_">
								<a class="btn btn-secondary disabled synchnisation_etudiant">
									<i class="ace-icon fa fa-refresh align-top bigger-125"></i>
									Sychronisation-Données Etudiant (Étape - 2)
								</a>
							</div>
							</div>


							<br />

							<h3 class="header smaller lighter blue">Données Etudiant</h3>


							<div class="dd dd-draghandle">
							<ol class="dd-list">

								<li class="dd-item dd2-item">
									<div class="dd-handle dd2-handle">
										<i class="syn_t_etudiant normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
									</div>

									<div class="dd2-content">Etudiant<span class="syn_t_etudiant_content"></span>
									</div>
								</li>

								<li class="dd-item dd2-item">
									<div class="dd-handle dd2-handle">
										<i class="syn_t_preinscription normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
									</div>

									<div class="dd2-content">Preinscription<span class="syn_t_preinscription_content"></span>
									</div>
								</li>

								<li class="dd-item dd2-item">
									<div class="dd-handle dd2-handle">
										<i class="syn_t_admission normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
									</div>

									<div class="dd2-content">Admission<span class="syn_t_admission_content"></span>
									</div>
								</li>

								<li class="dd-item dd2-item">
									<div class="dd-handle dd2-handle">
										<i class="syn_t_inscription normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
									</div>

									<div class="dd2-content">Inscription<span class="syn_t_inscription_content"></span>
									</div>
								</li>

								<li class="dd-item dd2-item">
									<div class="dd-handle dd2-handle">
										<i class="syn_p_statut normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
									</div>

									<div class="dd2-content">Statut<span class="syn_p_statut_content"></span>
									</div>
								</li>

								<li class="dd-item dd2-item">
									<div class="dd-handle dd2-handle">
										<i class="syn_p_groupe normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
									</div>

									<div class="dd2-content">groupe<span class="syn_p_groupe_content"></span>
									</div>
								</li>
							</ol>
						</div>

					</div>

					{# <div class="col-md-4">
						


						<div class="col-md-12">

							<div class="row_">
								<a class="btn btn-secondary disabled synchnisation_comptes">
									<i class="ace-icon fa fa-refresh align-top bigger-125"></i>
									Sychronisation-Données Comptes utilisateurs (Étape - 3)
								</a>
							</div>
						</div>
						<br />
						<h3 class="header smaller lighter blue">Données Compte utilisateurs</h3>
						<div class="dd dd-draghandle">
							<ol class="dd-list">

								<li class="dd-item dd2-item">
									<div class="dd-handle dd2-handle">
										<i class="syn_compte normal-icon ace-icon fa fas fa-edit grey bigger-130"></i>
									</div>

									<div class="dd2-content">Utilisateurs
										<span class="syn_compte_content"></span>
									</div>
								</li>
							</ol>
						</div>

					</div> #}
				</div>
				</div>
			</div>
        </div>
    </section>
</div>

{% endblock %}

{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('synchronisation') }}
{# {{ encore_entry_script_tags('salarie_salarie') }} #}
{% endblock %}

